<div class="span10" style="color:#000;">
  <hr/>
  <h3>Send Payment</h3>
  <li>
    Minimum Amount: <strong>60</strong>
  </li>
  <li>
  Apptivate Globe Gcash Number: <code>09277806680 </code>
  </li>
  <li>
  Gcash Account Representative:Representative Norris Perez
  </li>
  <br/>
  <div class="alert alert-info">
    Just send the following message: (COINS TO BE BOUGHT) (M-PIN) (payment-PAYMENT CODE) and send to 2882+(<code>9277806680</code>)
  </div>
  Example:<br/>
  <img class="img-polaroid" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/gcash_example.jpg" />
</div>
