<div class="span10" style="color:#000;">
  <hr/>
  <h3>Send Payment</h3>
  Over 900 branches nationwide! Find a LBC branch near you. <%= link_to "Find Branch", "http://www.lbcexpress.com/PH/Locator", target: "new" %><br/><br/>
  <li>Door to Door</li>
  <li>
    Minimum Amount: <strong>P500.00</strong>
  </li>
  <li>
    Apptivate Consignee Number: <code>09277806680 </code>
  </li>
  <li>
    Apptivate Account Representative - LBC Consignee Name: Norris Perez
  </li>
  <br/>
  <div class="alert alert-info">
    Immediately sms to us the tracking/reference number to: <code>09277806680</code> <br/>
    * Processing time: 1 day
  </div>
  Example Form:<br/>
  <img class="img-polaroid" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/lbc_form.jpg" />
</div>
