<div class="span10">
  <hr>
  <h3>Send Payment</h3>
  <li>Minimum Amount: <strong>P60</strong></li>
  <li>Apptivate Smart Money Number: <code>09199544789</code>
  <li>Smart Money Account Representative: Norris Perez</li>
  </br>
  <ol>
    <li>To buy coins with SMART money, go to the SMART Menu and choose "SMART Money"
    </br>
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_1.jpg" %>
    </li>
    </br>
    <li>Choose "Transfer" and press "OK"
    </br>
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_2.jpg" %>
    </li>
    </br>
  </ol>
<div>
