<div class="span10">
  <hr>
  <h3>Send Payment</h3>
  <li>Minimum Amount: <strong>P60</strong></li>
  <li>Apptivate Smart Money Number: <code>09199544789</code>
  <li>Smart Money Account Representative: Norris Perez</li>
  </br>
  <ol>
    <li>To buy coins with SMART money, go to the SMART Menu and choose "SMART Money"
    </br>
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_1.jpg" %></li>
    </br>
    <li>Choose "Transfer" and press "OK"
    </li></br>
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_2.jpg" %>
    </li></br>
    <li>Choose “Others” and press OK<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_3.jpg" />
    </li><br/>
    <li>Enter Apptivates SMART mobile number <code>09199544789 </code> and press OK. Note: Can’t find “Enter Mobile No.” on your screen? Text UPDATE MONEY to 343 to update your SMART Money Menu.<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_4.jpg" />
    </li><br/>
    <li>Press OK when “Transfer from?” appears on the screen<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_5.jpg" />
    </li><br/>
    <li>Choose from your list of SMART Money Card Names and press OK<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_6.jpg" />
    </li><br/>
    <li>Enter the amount you wish to transfer. <strong>60</strong> is the minimum<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/pasa-g.jpg" />
    </li><br/>
    <li>When you receive a confirmation request for your transaction, press OK<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/pasa-h2.jpg" />
    </li><br/>
    <li>When prompted, enter your 6-digit  W-PIN and press OK<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_9.jpg" />
    </li><br/>
    <li>You will receive a free text message stating that you have successfully completed this transaction<br/>
    <img src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/smart/SM_transfer_10.jpg" />
    </li>
  </ol>
<div>
