<div class="main">
  <div class="container">
    <h2><span>Contact Us</span></h2>
    <div class="row">
      <div class="span4">
        <h4>DROP US A LINE</h4>
        <a href="mailto:awesome@apptivate.co">awesome@apptivate.co</a>
      </div>
      <div class="span4">
        <h4>REACH US</h4>
        <div class="well">
          <p>Company Address:</p>
          <hr>
          <p>
          2/F Topy Building 1
          <br>
          No. 3 Economia Street, Libis
          <br>
          Quezon City 1110, Philippines
          <br>
          Call us: <strong>+632 5707884</strong>
          </p>
        </div>
      </div>
      <div class="span4">
        <h4>VISIT US</h4>
        <iframe width="350" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=proudcloud+manila&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.817312,76.552734&amp;ie=UTF8&amp;hq=proudcloud&amp;hnear=Manila,+Metro+Manila,+Philippines&amp;cid=10503623588753638786&amp;ll=14.606841,121.081438&amp;spn=0.024668,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </div>
</div>
