<div class="main" id="main-h">
  <div class="container">
    <div class="row">
      <div class="span12">
        <img class="pull-right" id="howto-img" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/howto_signup.jpg" />
        <h4><i class="icon icon-hand-right"></i> SIGN UP.</h4>
        <p>Created an account with <strong>Facebook</strong>, Click "Sign In with Facebook".</p>
      </div>
    </div><hr>
    <div class="row">
      <div class="span12">
        <img class="pull-right" id="howto-img" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/howto_redeem.png" />
        <h4><i class="icon icon-hand-right"></i> Redeem Coins (Credits).</h4>
        <p>Go to <a href="http://www.apptivate.co/redeem-coins" target="new">Redeem Coins</a></p>
        <p>Enter Pin Code and click "Redeem"</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span12">
        <img class="pull-right" id="howto-img" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/howto_purchase_s3.jpg" />
        <img class="pull-right" id="howto-img" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/howto_purchase_s1.jpg" />
        <img class="pull-right" id="howto-img" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/howto_purchase_s2.jpg" />
        <h4><i class="icon icon-hand-right"></i> Purchasing apps.</h4>
        <p>Click "Buy Apps", choose device. </p>
        <p>The default list all categories will be shown, select category</p>
        <p>Select app you want to purchase, Enter your Apple ID.  Click "Next".</p>
        <p>You will recieve an email from iTunes. Open your email using your device, click "Redeem"</p>
      </div>
    </div>
  </div>
</div>
