@import "bootstrap";

#globeNumber {
  width: 90%;
}

#smartNumber {
  width: 90%;
}

#numberNotify {
  width: 90%;
}

/* index */

#fb-root {
  padding-top: 10px;
  padding-left: 120px;
  margin: 0;
}

.input-large {
  width: 320px;
  height: 24px;
  font-size: 18px;
}

#align {
  padding-top: 70px;
  padding-left: 120px;
}

#featured {
  padding-right: 120px;
}

/* header */

.navbar-inverse {
  position: fixed;
  .navbar-inner {
  background: #2F353E;
  border-color: #2F353E;
  opacity: 0.90;
  align: left;
  }
}
  s:hover {
    color: #ffffff;
  }

.sub-navbar {
  background: #25A3D1;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.90;
  position: fixed;
  width: 100%;
}
.container{
  width: 83%;
}

#head {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  border: 0;
  display: block;
}

#logo {
  margin-left: -143px;
}

#c {
  margin-right: -450px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 10px;
}

#left {
  padding-top: 10px;
  padding-bottom: 10px;
}


#right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  color: black;
}

#strong {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

/* body */
#bg {
  background-image:url('http://a158.phobos.apple.com/us/r1000/087/Purple/v4/da/b4/b7/dab4b72c-ca3b-1ffc-1144-d95d80739a9d/mzl.wgukxapd.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
}
.body{
  padding-top: 35px;
}

/* contact */

h2 {
  text-align: center;
  background: url('https://s3-ap-southeast-1.amazonaws.com/apptivate/image/line.gif') center repeat-x;
  padding: 80px 20px;
  color: #2F353E;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
}
span {
  padding: 80px 20px;
  background: #FFF;
}

.span4 {
  color: black;
}

/* How To */

h4 {
  font-weight: 300;
  text-transform: uppercase;
}

#main-h {
      padding-top: 80px;
}

#howto-img {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border: solid 1px 
}

img {
  height: auto;
  max-width: 100%;
  vendorertical-align: middle;
  border: 0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
